apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-2s3x
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-2s3x
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-2s3x
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-2s3x
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-2s3x
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ejyg-tenant/rhtap-demo-app/hacbs-test-project-2s3x@sha256:68b4cf74ce1c4f9d780f78a8777c0bdca811bf4f2351556f7fffd856753ce4cb
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
