apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-2s3x
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ejyg-tenant/rhtap-demo-app/hacbs-test-project-2s3x@sha256:68b4cf74ce1c4f9d780f78a8777c0bdca811bf4f2351556f7fffd856753ce4cb
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
